.wrapper {
  position: relative;
  display: inline-flex;
}

.buttonStyle {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: none;
  background-size: cover;
  border: none;
  outline: none;
}

.descriptionText {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: var(--z-index-4);
  min-width: 200px;
  max-width: 300px;
  padding: 8px;
  cursor: pointer;
  background: var(--base-200);
  border-radius: 4px;
  box-shadow: var(--shadow);

  & > p {
    font-size: 16px;
    line-height: 20px;
    color: var(--content-900);
  }

  @media (max-width: 768px) {
    width: 80vw;
  }
}
