.InputToggleText {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 2px;
  cursor: pointer;
  border-radius: 8px;
}

.primary {
  background: var(--base-400);

  & > div {
    padding: 2px 8px;
  }

  & > div.active {
    background: var(--base-100);
    border-radius: 6px;
  }
}

.secondary {
  background: var(--base-100);

  & > div {
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--content-900);
  }

  & > div.active {
    background: var(--base-300);
    border-radius: 8px;
  }
}

.disabled {
  color: var(--content-800);
  cursor: default;
  div {
    color: var(--content-800);
  }
  p {
    color: var(--content-800);
  }
  span {
    color: var(--content-800);
  }
}

.text {
  user-select: none;
}
