.AccordeonBlock {
  padding: 28px 20px;
  user-select: none;
  border: 1px solid var(--content-800);
  border-radius: 16px;

  @media (max-width: 768px) {
    padding: 15px 10px;
  }
}

.AccordeonTitle {
  cursor: pointer;

  @media (max-width: 768px) {
    & > h2 {
      font-size: 16px;
      line-height: 130%;
    }
  }
}

.AccordeonTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AccordeonComponent {
  padding-top: 32px;
}

.Toggle {
  font-size: 32px;
  cursor: pointer;
  background-color: var(--base-100);
  border-radius: 50%;
}

.controll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.LessonOptions {
  flex-shrink: 0;
  margin-left: 15px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  user-select: none;
}

.light {
  padding: 0;
  border: none;

  & > .AccordeonTitle {
    width: 100%;
  }

  & .Toggle {
    background-color: transparent;
  }
}
