.Button {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 6px 16px;
  font-size: 14px;
  padding: 4px 12px;

  font-weight: 400;
  line-height: 125%;
  cursor: pointer;

  border-radius: 4px;
  border: 1px solid;

  &:disabled {
    pointer-events: none;
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.primary {
  color: var(--base-100);
  background: var(--additional-success);
  border-color: var(--additional-success);

  &:hover {
    filter: brightness(90%);
  }
}

.secondary {
  color: var(--additional-success);
  background: var(--base-100);
  border-color: var(--additional-success);

  &:hover {
    background: var(--additional-success);
    color: var(--base-100);
  }
}

.tertiary {
  padding: 6px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--content-900);
  text-align: center;
  background-color: transparent;
  border: 1px solid var(--base-300);
  border-radius: 8px;

  &:hover {
    filter: brightness(70%);
  }
}

.icon {
  display: inline-flex;
  width: auto;
  min-width: 20px;
  height: 100%;
  padding: 6px 10px;
  color: var(--content-900);
  background: var(--cta-10, rgba(142, 123, 255, 0.1));
  border: 1.5px solid var(--cta-primary, #8e7bff);
  border-radius: 4px;

  outline: none;

  svg {
    stroke: var(--cta-primary);
  }

  &:hover {
    color: var(--base-100);
    background: var(--cta-primary);

    svg {
      stroke: var(--base-100);
    }
  }

  &:disabled {
    background: transparent;
    border: 1.5px solid var(--base-300);
    opacity: 0.6;

    svg {
      stroke: var(--base-300);
    }
  }
}
