.icon {
  path {
    stroke: var(--content-900);
  }
}

.FilterIcon {
  path {
    stroke: transparent;
    fill: var(--content-900);
  }
}

.Loading {
  path {
    stroke: transparent;
  }
}

.WarningIcon {
  path {
    stroke: transparent;
    fill: var(--content-900);
  }
}
