.LevelSelector {
  position: relative;
}

.top {
  min-height: 35px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  color: var(--content-900);
  cursor: pointer;
  user-select: none;
  border: 1px solid var(--base-400);
  border-radius: 8px;
  outline: none;
}

.dropDown {
  position: absolute;
  top: 105%;
  right: 0;
  left: 0;
  z-index: var(--z-index-4);
  max-height: 250px;
  padding: 12px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--base-100);
  border-radius: 4px;
  box-shadow: var(--shadow);

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--content-700);
    border-radius: 10px;
  }
}

.label {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
  color: var(--content-900);
}

.errorText {
  height: 12px;
  font-size: 12px;
  line-height: 140%;
}

.error .top {
  border: 1px solid var(--additional-error);
}

.first {
  font-weight: 600;
}

.second {
  padding-left: 24px;
  font-weight: 400;
}

.selectOption {
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  border: 0;
  outline: none;
}
